<launch>

  <!-- Specify the config files to use -->

  <rosparam ns="/move_group" file="$(find dual_arm_demo)/config/moveit_cpp.yaml" command="load" />

  <include ns="dual_arm_demo" file="$(find dual_arm_moveit)/launch/trajectory_execution.launch.xml">
    <arg name="moveit_controller_manager" value="ros_control" />
  </include>

  <include ns="/dual_arm_demo/ompl" file="$(find dual_arm_moveit)/launch/ompl_planning_pipeline.launch.xml"/>

  <include file="$(find dual_arm_moveit)/launch/planning_context.launch">
        <arg name="load_robot_description" value="false"/>
      </include>

  <node name="dual_arm_demo" pkg="dual_arm_demo" type="moveit_demo"></node>

</launch>